#calendar
#color-legend
  = render :partial => 'color_legend',  :locals => {:color_legend_info => color_legend_info}
  
#event_edit_container
  = field_set_tag do
    = hidden_field_tag :user_id, @worklog.user.id
    %p
      = label_tag :worklog_task_id, "Task"
      %select{:name => 'worklog_task[id]', :id => 'worklog_task_id'}
        = option_groups_from_collection_for_select(task_groups_options, :options, :group_name, :id, :name )
    %p
      = label_tag :comment
      %br
      = text_area_tag :comment, "", :size => "43x5"
    %p
      = label_tag :date
      = text_field_tag :date, "", :disabled => true, :class => "date-holder"
    %p
      = label_tag :start
      = select_tag [:start, []].join.html_safe
    %p
      = label_tag :end
      = select_tag [:end, []].join.html_safe
