#calendar
#event_edit_container
  - field_set_tag do
    = hidden_field_tag :user_id, current_user.id
    %p
      = label_tag :worklog_task_id, "Task"
      = select "worklog_task", :id, available_worklog_tasks
    %p
      = label_tag :date
      = text_field_tag :date, "", :disabled => true, :class => "date-holder"
      -#%div.date_holder
    %p
      = label_tag :start
      = select_tag :start, []
    %p
      = label_tag :end
      = select_tag :end, []