%center
  %h2= "Dashboard for user: " + current_user.alias + "(" + current_user.login + ")"
  %h4= link_to 'Logout', logout_path

#worklog
  %p.heading Worlog v3.0
  %ul
    %li= link_to 'Edit my worklog', :controller => :worklog, :action => :edit
    %li= link_to 'Weekly view', :controller => :worklog, :action => :xxx
    %li= link_to 'Monthly view', :controller => :worklog, :action => :xxx

#other-app
  %p.heading Other application
  %ul
    %li= link_to 'Function 1', root_path
    %li= link_to 'Function 2', root_path
    %li= link_to 'Function 3', root_path

-# Admin panel if we have an admin logged in
-if current_user.admin
  %hr
  %center
    %h3 Administrator Panel
  #users
    %p.heading Users
    %ul
      %li= link_to 'Edit/Delete users', :controller => :users
      %li= link_to 'Add user', :controller => :users, :action => :new
  #companies
    %p.heading Companies
    %ul
      %li= link_to 'Edit/Delete companies', :controller => :companies
      %li= link_to 'Add company', :controller => :companies, :action => :new
  #worklog-tasks
    %p.heading Worklog Tasks
    %ul
      %li= link_to 'Edit/Delete tasks', :controller => :worklog_tasks
      %li= link_to 'Add task', :controller => :worklog_tasks, :action => :new
