%center
  %h2= "Dashboard for user: " + current_user.alias + "(" + current_user.login + ")"
  %h4= link_to 'Logout', logout_path

#worklog
  %p.heading Worklog v4.0
  %ul
    %li= link_to 'Edit worklog', :controller => :worklog, :action => :edit
    %li= link_to 'Dump data by company', :controller => :csv_generator, :action => :by_company_form
    %li= link_to 'Dump data by task', :controller => :csv_generator, :action => :by_task_form

#other-app
  %p.heading Other application
  %ul
    %li= link_to 'Function 1', root_path
    %li= link_to 'Function 2', root_path
    %li= link_to 'Function 3', root_path

-# Admin panel if we have an admin logged in
-if current_user.admin
  %hr
  %center
    %h3 Administrator Panel
  #users
    %p.heading Users
    = link_to 'Show/Edit/Delete', :controller => :users
    %br
    = link_to 'Add user', :controller => :users, :action => :new
  #companies
    %p.heading Companies
    = link_to 'Show/Edit/Delete', :controller => :companies
    %br
    = link_to 'Add company', :controller => :companies, :action => :new
  #worklog-tasks
    %p.heading Worklog Tasks
    = link_to 'Show/Edit/Delete', :controller => :worklog_tasks
    %br
    = link_to 'Add worklog task', :controller => :worklog_tasks, :action => :new
    %br
    = link_to 'Move periods between tasks', :controller => :move_periods, :action => :index
  #timeplans
    %p.heading Timeplans
    = link_to "Show/Edit/Delete", :controller => :timeplans
  #billinginfos
    %p.heading Billing Info
    = link_to "Show/Edit/Delete", :controller => :billing_infos
  #role_allocations
    %p.heading Role Allocations
    = link_to "Show/Edit/Delete", :controller => :role_allocations
