- form_for(worklog_task) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :company_id
    %br
    = f.select :company_id, available_companies
  %p
    = f.label :color
    %br
    #task-color
      = f.text_field :color
      #colorpicker
      = farbtastic_create('colorpicker', 'worklog_task_color', true)
    = observe_field :worklog_task_company_id, :frequency => 0, :update => 'task-color', :url => {:action => 'company_color', :only_path => false}, :with => "'company_id=' + encodeURIComponent(value)"
  %p
    = f.label :visible_in_user_menus
    %br
    = f.check_box :visible_in_user_menus
  %p
    = f.submit "Submit"

