//= javascript_include_tag 'edit_worklog_task.js'
:javascript
  $(document).ready(function() {
    $("#worklog_task_company_id").change(function() {
      $.post("#{url_for(:action => 'company_color')}",
        { company_id : $("#worklog_task_company_id").val() },
        function(data) {
          $("#task-color").html(data);
      });
    });
  });

= form_for(worklog_task) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :company_id
    %br
    = f.select :company_id, available_companies
  %p
    = f.label :color
    %br
    #task-color
      = f.text_field :color
      #colorpicker
      = farbtastic_create('colorpicker', 'worklog_task_color', true).html_safe
  %p
    = f.label :visible_in_user_menus
    %br
    = f.check_box :visible_in_user_menus
  %p
    = f.submit "Submit"

