- content_tag_for :div, worklog_task do
  %ul
    %li
      %strong Name:
      =h worklog_task.name
    %li
      %strong Company:
      =h worklog_task.company.name

    %li
      %strong Color:
      = text_field_tag color_id(worklog_task), worklog_task.color, :disabled => true
      = colorpicker_div( :id => colorpicker_id(worklog_task), :class => "colorpicker")
      = farbtastic_create(colorpicker_id(worklog_task), color_id(worklog_task), false)

    %li
      %strong Visible in user menus:
      -if worklog_task.visible_in_user_menus
        'Yes'
      -else
        'No'

    = link_to 'Show', worklog_task
    = link_to 'Edit', edit_worklog_task_path(worklog_task)
    = link_to 'Destroy', worklog_task, :confirm => "Are you sure? This worklog task has #{worklog_task.work_periods.size} associated work periods that will also be deleted.", :method => :delete