%h2=h "Users available in the database (#{@num_active_users} active, #{@num_users} in total)"
- if !@users.empty?
  = will_paginate(@users)
  .users
    = render :partial => "user", :collection => @users
  = will_paginate(@users)
- else
  %p There are no users to show yet.
