%h3
  Dump data by company (in CSV format)

- form_for :csv_generator, @csv_generator, :url => {:action => :show} do |f|
  = f.hidden_field :company_or_task
  %p
    = f.label "Start of time period:"
    = f.date_select :start_date
    %br
    = f.label "End of time period:"
    = f.date_select :end_date
  #user-selection
    %p
      %strong Users to include:
      %br
      - User.find(:all, :order => "alias").each do |user|
        = check_box_tag "csv_generator[users][]", user.id, @csv_generator.users.include?(user.id), :class => "user_check_box"
        = user.alias
        %br
      %a{:href => "javascript:void(0)", :onclick => '$(".user_check_box").each(function(i,box){box.checked = true})'}
        Select all users
      |
      %a{:href => "javascript:void(0)", :onclick => '$(".user_check_box").each(function(i,box){box.checked = false})'}
        Select no users
    %p
      = f.submit "Get data"
  #company-selection
    %p
      %strong Companies to include:
      %br
      - Company.find(:all, :order => "name").each do |company|
        = check_box_tag "csv_generator[companies][]", company.id, @csv_generator.companies.include?(company.id), :class => "company_check_box"
        = company.name
        %br
      %a{:href => "javascript:void(0)", :onclick => '$(".company_check_box").each(function(i,box){box.checked = true})'}
        Select all companies
      |
      %a{:href => "javascript:void(0)", :onclick => '$(".company_check_box").each(function(i,box){box.checked = false})'}
        Select no companies
