%h3 Move periods from one task to another

%p
  Warning: this operation can not be undone - once periods have been moved there is no way to distinguish
  them form other periods for the new worklog task.

- form_tag :action =>'move_periods' do
  %p
    = label_tag :worklog_task_from, "Move ALL recorded periods from this worklog task:"
    %br
    %select{:name => 'worklog_task_from', :id => 'worklog_task_from'}
      = option_groups_from_collection_for_select(task_groups_options(false), :options, :group_name, :id, :name )
  %p
    = label_tag :worklog_task_to, "To this worklog task:"
    %br
    %select{:name => 'worklog_task_to', :id => 'worklog_task_to'}
      = option_groups_from_collection_for_select(task_groups_options(false), :options, :group_name, :id, :name )
  %p
    = submit_tag "Move periods"