=content_tag_for :div, company do
  %ul
    %li
      %strong Name:
      =h company.name

    %li
      %strong Color:
      = text_field_tag color_id(company), company.color, :disabled => true
      = colorpicker_div( :id => colorpicker_id(company), :class => "colorpicker").html_safe
      = farbtastic_create(colorpicker_id(company), color_id(company), false).html_safe
     
    = link_to 'Show', company
    = link_to 'Edit', edit_company_path(company)
    = link_to 'Destroy', company, :confirm => "Are you sure? This company has #{company.worklog_tasks.size} tasks and #{company.work_periods.size} work periods that will also be deleted.", :method => :delete