%h2= "Company \"#{@company.name}\""
#companies
  - content_tag_for :div, @company do
    %ul
      %li
        %strong Name:
        =h @company.name
      %li
        %strong Color:
        = text_field_tag :company_color, @company.color, :disabled => true
    #colorpicker

  %ul
    %li= link_to 'Edit', edit_company_path(@company)
    %li= link_to 'Back', companies_path