= form_for(role_allocation) do |f|
  = f.error_messages
  = f.hidden_field :worklog_task_id
  %p
    = f.label :user_id
    %br
    = f.select :user_id, available_users
  %p
    = f.label :start_date
    %br
    = f.text_field :start_date
  %p
    Ongoing?
    %br
    = f.check_box :ongoing
  %p
    = f.label :end_date
    %br
    = f.text_field :end_date
  %p
    = f.label :role_id
    %br
    = f.select :role_id, Role.order("name ASC").map {|r| [r.name, r.id]}
  %p
    = f.submit "Submit"
