= form_tag(timeplans_path, :method => :get) do
  = grouped_collection_select(:worklog_task, :id, @companies, :worklog_tasks, :name, :id, :name, :selected => @selected_name, :include_blank => true)
  = submit_tag "Go"
%hr
- unless @worklog_task.nil?
  %h4
    = "Timeplan for task '#{@worklog_task.name}' for company '#{@worklog_task.company.name}'"
  %table
    %thead
      %tr
        %th Start Date
        %th End Date
        %th Allocation Type
        %th Time Allocation (Days)
        %th User
        %th Edit
        %th Delete
    %tbody
      - @timeplans.each do |plan|
        %tr
          %td= plan.start_date
          %td= plan.end_date.nil? ? "Ongoing" : plan.end_date
          %td= plan.allocation_type
          %td= plan.time_allocation
          %td= plan.user.alias
          %td= link_to "Edit", edit_timeplan_path(plan)
          %td= link_to "Delete", plan, :method => :delete, :confirm => "Are you sure?"
  = button_to "Add entry", { :action => :new, :worklog_task_id => @worklog_task.id }
          