- unless @generate_output
  = form_tag({:controller => :reports, :action => :utilization_summary}, :method => :post) do
    %p
      = label_tag 'Time period'
      = select_tag :time_period_type, options_for_select(@time_period_types, @selected_time_period_type), :include_blank => true
    %p
      = label_tag :start_date
      %br
      = text_field_tag :start_date, @start_date
    %p
      = label_tag :end_date
      %br
      = text_field_tag :end_date, @end_date
    %p
      = submit_tag "Update"
    - if @selected_time_period_type != "" and @start_date != nil and @end_date != nil
      %hr
      %p
        = label_tag 'Worklog tasks to include'
        = select_tag :worklog_task_type, options_for_select(@worklog_task_types, @selected_worklog_task_type), :include_blank => true
      - if @selected_worklog_task_type == "Custom selection"
        %p
          - @worklog_tasks.each do |task|
            = check_box_tag "worklog_task_#{task.id}", "1", @selected_worklog_tasks[task.id]
            = "#{task.company.name} - #{task.name}"
            %br
      %p
        = submit_tag "Update"

- else
  %center
    %h2
      Utilization Summary Report
  %hr
  #period_start
    %b
      Report period start:
    = @start_date
  #period_end
    %b
      Report period end:
    = @end_date
  %hr
  %b Tasks included in report:
  %ul
    - @worklog_tasks.each do |task|
      %li= "#{task.company.name} - #{task.name}"
  %hr
  %table
    %thead
      %tr
        %th
        - @users.each do |u|
          %th= u.alias
        %th Total
    %tbody
      %tr
        %td Total hours logged
        - @user_stats.each do |user, stats|
          %td= stats.total_hours.round(1)
        %td= @total_hours_logged.round(1)
      %tr
        %td Total days logged
        - @user_stats.each do |user, stats|
          %td= stats.total_days.round(1)
        %td= @total_days_logged.round(1)
      %tr
        %td Total days planned (in period)
        - @user_stats.each do |user, stats|
          %td= stats.total_days_planned.round(1)
        %td= @total_days_planned.round(1)
