!!! XML
!!!
%html{ :'xml:lang' => "en", :lang => "en" }
  %head
    %title= "JRBH - #{controller.class.to_s}"
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css'
    = stylesheet_link_tag 'jquery.weekcalendar.css', :media => 'screen, projection'

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'
    = javascript_include_tag 'jquery.weekcalendar.js'
    = javascript_include_tag 'application.js'
    = javascript_include_tag 'jrails.js'
           
  %body#worklog
    .container
      #header
        #logo
          %h1 JRBH
        #text-header
          %center
            %h2= controller.class.to_s.capitalize.match(/(.*)controller/)[1]
        #links
          #dashboard-info
            =link_to 'Back to Dashboard', :controller => :dashboard
          #user-info
            - unless current_user.blank?
              %ul
                %li= "Logged in user: #{link_to current_user.alias, :controller => :users, :action => :show, :id => current_user.id}"
                %li= "|"
                %li= link_to 'Logout', :controller => :logout
        %hr
        #flash
          - unless flash.empty?
            = content_tag :div, flash[:notice],  :class => "notice"  if flash[:notice]
            = content_tag :div, flash[:warning], :class => "warning" if flash[:warning]
            = content_tag :div, flash[:error],   :class => "error"   if flash[:error]
            %hr
          :javascript
            #{visual_effect :highlight, "flash"}

      #main
        #content
          = yield

      #footer
        #copyright
          &copy; JRBH 2009.  Number Three, 59 Jermyn Street, London, SW1Y 6LX
        #produced-with
          = "Produced using #{link_to 'RubyOnRails', 'http://rubyonrails.org'}, #{link_to 'Compass', 'http://compass-style.org/'} and #{link_to 'jQuery', 'http://jquery.com'}."
